[Desktop Entry]
Type=Application
Name=IAR-Launcher
Name[en_GB]=IAR-Launcher
Path=/home/ebifc/iar-launcher/
Exec=/usr/bin/node /home/ebifc/iar-launcher/launcher.js
Terminal=true
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Commet=Launches IAR with provided credentials